<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
      <!-- <a class="navbar-brand" href="#">Auth0 - Angular</a> -->
      <form class="form-inline">
        <a routerLink="/">
        <button class="btn btn-primary btn-lg"> 
            Home
        </button></a>
        <a routerLink="/ask-question">
        <button class="btn btn-primary btn-lg"> 
          Ask question
      </button></a>

        <button id="qsLoginBtn"
          class="btn btn-primary my-2 my-sm-0"
          *ngIf="!auth.isAuthenticated()"
          (click)="auth.login()"class="btn btn-primary btn-lg pull-right"> 
          
            Log In
        </button>

        <button id="qsLogoutBtn"
          class="btn btn-primary my-2 my-sm-0"
          *ngIf="auth.isAuthenticated()"
          (click)="auth.logout()" type="button">
            Log Out
        </button>

      </form>
  </div>
</nav>
<main role="main" class="container">
  <router-outlet></router-outlet>
 
</main>
