<h4 *ngIf="auth.isAuthenticated()">
<form>
  <div class="form-group">
    <label for="exampleInputPassword1">Title</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Title">
  </div>
  <div class="form-group">
    <label for="exampleSelect1">Choose a subject</label>
    <select class="form-control" id="exampleSelect1">
      <option>Data Structure</option>
      <option>Automata Theory</option>
      <option>Java</option>
      <option>Html</option>
      <option>C++</option>
    </select>
  </div>
  
  <div class="form-group">
    <label for="exampleTextarea">Type your question here</label>
    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
  </div>
  <div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">

  </div>
  
  <button type="submit" class="btn btn-primary center-block">Post Question</button>
</form>
</h4>
<h4 *ngIf="!auth.isAuthenticated()">
    You are not logged in! Please <a (click)="auth.login()">Log In</a> to continue.
  </h4>