<h4 *ngIf="auth.isAuthenticated()">
<form>
  <div class="form-group">
    <label for="titleinput">Question</label>
    <input type="sumbit" class="form-control" id="titleinput" placeholder="Question">
  </div>
  <div class="form-group">
      <label for="subjectinput">Subject</label>
      <input type="sumbit" class="form-control" id="subjectinput" placeholder="Subject">
  </div>
  
  <div class="form-group">
    <label for="questionDetailsTextArea">Question Details</label>
    <textarea class="form-control" id="questionDetailsTextArea" rows="3"></textarea>
  </div>

  <div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
  </div>
  
  <button type="submit" class="btn btn-primary btn-lg center-block">Post Question</button>
</form>
</h4>

<div class="nologtext" *ngIf="!auth.isAuthenticated()">
  <br>
  You must be logged in to post a question.
</div>
